
@import url('./reset.css');

/* Styling properties - user configurable */
:host {
    --tab-border: transparent;
    --tab-bg: 
        lightgrey 
        linear-gradient(
            0deg, rgba(0,0,0,0.5), transparent
        ) no-repeat left bottom / 100% 15%;
    --tab-active-bg: lightgrey;

    --tab-padding: 0 0.5em;
    --tab-radius: 0.25em 0.25em 0 0;
    --tab-gap: 0.5em;
}

/* tab list container */
div[role="tablist"] {
    display: grid;
    grid-auto-flow: column;
    /* default, tab buttons fit title size */
    grid-auto-columns: max-content;
    grid-template-rows: auto;
    align-content: start;
    padding: var(--tab-padding);
    gap: var(--tab-gap);
}
/* tab buttons equal sized option */
:host([tab-width="equal"]) > div[role="tablist"] {
    grid-auto-columns: 1fr;
}

/* tab selector buttons */
button[role="tab"] {
    background: var(--tab-bg);
    border: none;
    border-radius: var(--tab-radius);
    padding: 0.25em 0.5em;
    &[aria-selected="true"] {
        background: var(--tab-active-bg);
        box-shadow: 1px 0 0 var(--tab-bg);
        z-index: 2;
    }
}
