
.document {

    display: block;
    max-width: 720px;
    margin: auto;

    & h1, h2 {
        padding: 0.5em 0;
    }

    & section:not(:first-of-type) {
        margin-top: 1em;
    }

    & code.code-pane {
        padding: 0.1em;
    }

    & .spaced {
        padding-top: 1em;
    }

    & p {
        margin-top: 0.5em;
    }

    & li {
        padding-top: 0.25em;
    }

    & section {
        margin-bottom: 2em;
    }

    & code.callout {
        background: var(--code-back);
        color: var(--secondary-text);
        border-radius: 999px;
    }

    & .note {
        margin-top: 1em;
        color: var(--muted-text);
        border-radius: 0.25em;
        font-size: 0.75em;
    }
}