
@import "./reset.css";
@import "./theme.css";
@import "./reactive.css";


html, body {
    width: 100%;
    height: 100lvh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
