
@import "./reset.css";
@import "./theme.css";
@import "./reactive.css";
@import "./code.css";

html, body {
    width: 100%;
    min-height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}
