
/* Defines global sizing for reactive layouts */
:root {
    --space-xs: clamp(0, 0.25vw, 0.25rem);
    --space-sm: clamp(0.25rem, 0.5vw, 0.5rem);
    --space-md: clamp(0.5rem, 1vw, 1rem);
    --space-lg: clamp(1rem, 1.5vw, 2rem);
    --space-xl: clamp(2rem, 2vw, 3rem);
}
