
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
/* Stop long words causing overflow */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}

/* By default hide undefined web components */
*:not(:defined) {
    display: none;
}
