
enso-app {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    padding-top: 2em;
    color: var(--primary-text); 
}

enso-icon {
    --fill: var(--primary-text);
    width: 100px;
    height: 100px;
}

site-section {
  align-items: center;
}

h1 {
    font-family: "Slackside One", cursive;
    font-size: 4rem;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

annotated-code [data-title][data-description]::after {
    content: '[' attr(data-index) ']';
    vertical-align: super;
    font-size: 0.75em;
    color: var(--muted-text);
}