
@import "./styles/reset.css";

:host {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--primary-text); 

}

enso-icon {
    --fill: var(--primary-text);
    width: 100px;
    height: 100px;
}

h1 {
    font-family: "Slackside One", cursive;
    font-size: 4rem;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1em;
}

#tag-line {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    flex-wrap: wrap;
    gap: 0.5em;
    font-size: 1.5rem;
    & > span::after {
        content: '.';
    }
}

.body-text {
    text-align: center;
}

#component-example {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

tiny-counter {
    width: 150px;
}
