
@import "./styles/reset.css";

enso-app,
:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    padding: 0 2em !important;
    color: var(--primary-text); 
}

.nav-item {
    margin: 0.5em 0;
    color: var(--primary-text);
}
.nav-item a {
    text-decoration: none;
    color: inherit;
}

enso-icon {
    --fill: var(--primary-text);
    width: 100px;
    height: 100px;
}

h1 {
    font-family: "Slackside One", cursive;
    font-size: 4rem;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1em;
}

#tag-line {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    flex-wrap: wrap;
    gap: 0.5em;
    font-size: 1.5rem;
    & > span::after {
        content: '.';
    }
}

.body-text {
    text-align: center;
}

.code {
    margin: 0.5em;
    padding: 1em;
    font-size: 0.8rem;
    overflow-x: auto;
    background: var(--code-back);
    border-radius: 0.5em;
}

.token.string, .token.attr-value{
  color: var(--string-color);
}

.token.keyword, .token.function, .token.attr-name {
  color: var(--keyword-color);
  font-weight: 550;
}

.token.property, .token.tag {
  color: var(--property-color);
}   

.token.number {
  color: var(--number-color);
}

.token.comment {
  color: var(--comment-color);
  font-style: italic;
}

.token.punctuation {
  color: var(--punctuation-color);
}

#component-example {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
}

tiny-counter {
    width: 150px;
}
