
:root {
    interpolate-size: allow-keywords;
}

enso-app {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    padding-top: 2em;
    color: var(--primary-text); 
}

site-nav {
    position: fixed;
    top: 0;
    max-width: 1920px;
}

.nav-section {
    color: var(--primary-text);
    min-width: 75%;
    backdrop-filter: blur(4px);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1.5rem 0;
    &:first-of-type {
        margin-top: 3rem;
    }
    &:last-of-type {
        max-width: 300px;
        min-width: 0;
        width: 75%;
        
        margin-top: auto;
        margin-bottom: 3rem;

        opacity: 0.9;
        background: var(--texture-overlay);
    }
    & h2 {
        font-size: 0.75rem;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin-bottom: 0.75rem;
        text-align: center;
    }
    & ul {
        list-style: none;
    }
}

.nav-item {
    color: var(--primary-text);
    padding: 0.75rem 0.5rem;
    position: relative;
    & a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: inherit;

        position: relative;
        padding: 0.5em ;
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--current-stroke);

            mask-image: url("/brush-stroke.svg");
            mask-repeat: no-repeat;
            mask-size: 110% 400%;
            mask-position: right center;

            transform: scaleX(0);
            transform-origin: left;

            transition:
                transform 0.28s cubic-bezier(.25,.8,.25,1);

            z-index: -1;
        }
    }
    &:hover a::before {
        transform: scaleX(1);
    }
    &.theme {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & + & {
        border-top: 1px solid var(--stroke-color);
    }
}

enso-icon {
    --fill: var(--primary-text);
    width: 100px;
    height: 100px;
}

site-section {
  align-items: center;
}

h1 {
    font-family: "Slackside One", cursive;
    font-size: 4rem;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}
