
@import "./styles/reset.css";

enso-app {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    padding: 0 2em !important;
    color: var(--primary-text); 
}

.nav-item {
    margin: 0.5em 0;
    color: var(--primary-text);
}
.nav-item a {
    text-decoration: none;
    color: inherit;
}

enso-icon {
    --fill: var(--primary-text);
    width: 100px;
    height: 100px;
}

h1 {
    font-family: "Slackside One", cursive;
    font-size: 4rem;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1em;
}

#tag-line {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    flex-wrap: wrap;
    gap: 0.5em;
    font-size: 1.5rem;
    & > span::after {
        content: '.';
    }
}

.body-text {
    text-align: center;
}

#live-example {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5em;
    & > code-pane {
      flex: 1 1 fit-content;
    }
    & > tiny-counter {
      flex: 1 1 25%;
      min-width: 100px;
      margin: 0 0.5em;
    }
}

